@font-face { /*Rix이누아리두리*/
    font-family: 'RixInooAriDuriR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face { /*나눔바른고딕*/
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@font-face { /*나눔바른고딕 Light*/
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}
@font-face{ /*던파 비트비트체*/
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}
img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
}
headbar {
    font-family: 'RixInooAriDuriR';
    text-align: left;
    color: white;
    position: absolute;
    margin-top: 15px;
}

.head-logo {
    height: 50px;
    position: relative;
    background-color: #D6D0E4;
    box-shadow: 0px 3.5px 5px #BCB1D3;
    font-size: large;
}

body{
    background-color: #D6D0E4;
    margin: 0;
    max-width: 500px;
}

.flex-cont-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
}
.flex-cont-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
}
.input_content{
    width: 280px;
    height: 130px;
    margin: auto;
    padding: 10px 10px;
    border-radius: 20px;
    line-height: 170%;
    font-family: 'NanumBarunGothic';
}
input{
    width: 150px;
    height: 20px;
    font-size: smaller;
    font-family: 'NanumBarunGothic';
    text-align: center;
    border: 0px;
    border-radius: 5px;
}

.user-prof {
    margin: auto;
}

.user-prof > img.propic {
    margin: 0.6cm;
    height: auto;
    width: 40%;
    max-width: 220px;
    border-radius: 18em;
    box-shadow: .5px .5px 5px 3px #BCB1D3;
    position: relative;
    z-index: 5;
}
.user-prof .nameborder{
    margin: auto;
    margin-top: -40%;
    margin-left: 50%;
    width: fit-content;
    border-bottom: 4px solid transparent;
    border-radius: 50%;
    border-image: linear-gradient(to right, #836DAE 0%, #BCB1D3 68%, #D6D0E4 110%);
    border-image-slice: 1;
}
.user-prof .nameborder .username {
    color: #40335B;
    font-size: 140%;
    font-family: "RixInooAriDuriR", sans-serif;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 3px solid transparent;
  }
.user-prof  .bio {
    margin: auto;
    display: inline-block;
    margin-top: 3%;
    margin-left: 54%;
    font-size: 110%;
    font-weight: 400;
    color: #40335B;
    font-family: "NanumBarunGothic", sans-serif;
    height: 55px;
}
sb {
	position: relative;
	max-width: 30em;
	
	background-color: #fffa;
	padding: 1.125em 1em;
    font-family: 'NanumBarunGothic';
	font-size: 1em;
	border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    z-index: 6;
}

sb::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em;
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fffa;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.appear{
    visibility: hidden;
    margin-left: 10%;
}
#over1:active ~ .appear { 
    visibility: visible;
} 

.mButton0{
    color: #7F69AB;
    border-bottom: 3px solid transparent;
    border-bottom-color: #7F69AB;
    box-shadow: 0px 3px 3px -2px #7F69AB;
}

button{
    text-align: center;
    width: 49%;
    height: 1.5cm;
    font-family: 'bitbit';
    font-size: 130%;
    border: 0;
    background-color: #F0EEF6;
    color: #D6D0E4;
    border-bottom: 3px solid transparent;
    border-bottom-color: #D6D0E4;
    box-shadow: 0px 3px 3px -2px #D6D0E4;
}

.menubar{
    position: static;
    display: block;
    background-color: #f0eef6;
    height: 1.5cm;
}

#btnL{
    position: relative;
    margin-left: calc(3%);
    width: calc(55%);
    max-width: 275px;
    height: fit-content;
    background-color: #F0EEF6;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #BCB1D3;
    transition-duration: 0.3s;

    font-family: 'bitbit';
    text-align: center;
    color: #A38ED9;
    font-size: 120%;
    padding:13px;
}
#btnL:active{
    box-shadow: none;
}
#btnR{
    position: relative;
    margin-left: calc(3%);
    margin-right: calc(3%);
    width: 25%;
    height: fit-content;
    background-color: #F0EEF6;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #BCB1D3;
    transition-duration: 0.3s;

    font-family: 'bitbit';
    text-align: center;
    color: #A38ED9;
    font-size: 120%;
    padding:13px;
}
#btnR:active{
    box-shadow: none;
}

.heart {
    width: 15px;
    height: 15px;
    background: #A38ED9;
    position: relative;
    transform: rotate(45deg);
}
.heart::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: -50%;
  border-radius: 50%;
  background: #A38ED9;
}
.heart::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: -50%;
  border-radius: 50%;
  background: #A38ED9;
}

.q{
  font-family: bitbit;
  color: #40335B;
  margin-left: 18px;
  font-size: 130%;
  margin-bottom: 0
}

.listBox0{
    font-family: NanumBarunGothic;
    font-size: 110%;
    background-color: #A38ED9;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 0
}
.listBox1{
    font-family: NanumBarunGothic;
    font-size: 110%;
    background-color: #BCB1D3;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 0
}