@font-face { /*Rix이누아리두리*/
    font-family: 'RixInooAriDuriR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face { /*나눔바른고딕*/
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@font-face { /*나눔바른고딕 Light*/
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}
@font-face{ /*던파 비트비트체*/
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

headbar {
    font-family: 'RixInooAriDuriR';
    text-align: left;
    color: white;
    position: absolute;
    margin-top: 18px;
}

.head-logo {
    height: 50px;
    position: relative;
    background-color: #D6D0E4;
    box-shadow: 0px 3.5px 5px #BCB1D3;
}

body{
    background-color: #D6D0E4;
    margin: 0;
    max-width: 600px;
}

.flex-cont-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
}
.flex-cont-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
}
.input_content{
    width: 280px;
    height: 130px;
    margin: auto;
    padding: 10px 10px;
    border-radius: 20px;
    line-height: 170%;
    font-family: 'NanumBarunGothic';
}
input{
    width: 150px;
    height: 20px;
    font-size: smaller;
    font-family: 'NanumBarunGothic';
    text-align: center;
    border: 0px;
    border-radius: 5px;
}